body{
    background-color: #565251;
    align-content: center;
}

.nav-bar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    text-decoration: none;
    white-space: nowrap;
}

.navbar {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    background-color: orangered;
    list-style: none;
}

.nav-container {
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
    vertical-align: baseline;
}
.masthead{
    position: relative;
    background-color: #343a40;
    background: url("../images/background.jpg") no-repeat center center;
    background-size: cover;
    padding-top: 8rem;
    padding-bottom: 8rem;
}

.container_position_relative{
    content: "";
    position: absolute;
    background-color: #1c375e;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.5;
}

.mb-5{
    color: white;
    margin-left: 25px;
}

.image-thumbnail{
    height: 50%;
    width: 50%;
}
