body{
    background-color: #565251;
}

.nav-bar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    text-decoration: none;
    white-space: nowrap;
}

.navbar {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    background-color: orangered;
    list-style: none;
}

.container {
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
    vertical-align: baseline;
}
.masthead{
    justify-content: center;
    background-image: image(background);
}

.container_position_relative{
    position: relative;
    display: flex;
    background-color: #565251;
}
