<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stations</title>
</head>
<body>
    
    {% for commander in commanders %}
        <a href="{% url 'commander_detail' commander.id %}"><li>{{commander.name}} - {{commander.fleet}}</li></a>        
    {% endfor %}

    <button type="submit"><a href="{% url 'add_commander'%}">Add Commander</a></button>
    
</body>
</html>