<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
    <title>Index</title>
</head>
<body>
    <nav class="navbar">
        <div class="container">
            <a class="nav-bar" href="{% url 'index' %}">Home</a>
            <a class="nav-bar" href="{% url 'commander_list' %}">Commanders</a>
            <a class="nav-bar" href="{% url 'ship_list' %}">Ships</a>
            <a class="nav-bar" href="{% url 'station_list' %}">Stations</a>
            <a href="{% url 'search_commander' %}">Search Commander</a>
        </div>
    </nav>
    
    
    {% block changes %}
    <header class="masthead">
        <div class="container position-relative">
            <div class="row justify-content-center">
                <div class="col-xl-6">
                    <div class="text-center text-white">
                        <!-- Page heading-->
                        
                        {% block TITULO %}
                        
                        <h1 class="mb-5">Nuestra web intermedia de Django - InaraApp</h1>
                            
                        {% endblock %}
                            
                        <!-- Signup form-->
                        <!-- * * * * * * * * * * * * * * *-->
                        <!-- * * SB Forms Contact Form * *-->
                        <!-- * * * * * * * * * * * * * * *-->
                        <!-- This form is pre-integrated with SB Forms.-->
                        <!-- To make this form functional, sign up at-->
                        <!-- https://startbootstrap.com/solution/contact-forms-->
                        <!-- to get an API token!-->
                        
                    </div>
                </div>
            </div>
        </div>
    </header>
    {% endblock changes %}
        
</body>
</html>